<div class="flash">
    <%= flash[:create] %>
</div>
<div class="flash">
    <%= flash[:update] %>
</div>

<div>Title</div>
<div><%= @book.title %></div>

<div>Body</div>
<div><%= @book.body %></div>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", '/books' %>